.btn {
  width: 243px;
  background: var(--gradient-blue);
  border-radius: 16px;
  border: none;
  padding: 24px 32px;
  font-size: 30px;
  color: var(--main-white);
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
